* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.body-class {
    min-height: 100vh;
    font-family: sans-serif;
    background-image: url(images/image\ copy\ \(1\).jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.main-section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;
}


.navbar {
    position: relative;
    width: 100%;
}


.nav-links {
    display: flex;
    justify-content: flex-start;
    list-style: none;
}

.nav-links li {
    margin-left: 25px;
}

.nav-links a {
    text-decoration: none;
    color: black;
    transition: all 0.3s ease;
    font-weight: 300;
    letter-spacing: 1.5px;
    margin-left: 25px;
    margin-right: 25px;
    font-size: 14px;
    text-transform: uppercase;

}

.nav-links a:hover {
    color: grey;
    font-weight: 500;
}


.main-content {
    max-width: 600px;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.main-content h1 {
    font-size: clamp(42px, 8vw, 100px);
}

.main-content p {
    font-size: clamp(14px, 4vw, 20px);
}


.cta-button {
    display: inline-block;
    padding: 14px 34px;
    margin-top: 25px;
    background-color: transparent;
    color: #333;
    border: 1px solid;
    border-radius: 100px;
    text-decoration: none;
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 2.5px;
    transition: all 0.4s ease;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.cta-button:hover {
    background-color: #333;
    color: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    transform: translateY(-3px);
}

.cta-button:active {
    transform: translateY(-1px);
}

.main-footer {
    background-color: rgba(242, 242, 242, 0.6);
    color: #333333;
    padding: 2rem 1rem;
    margin-top: 50px;
    border-top: 2px solid #e0e0e0;
    backdrop-filter: blur(8px);
    text-align: center;
    box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.5);
}

.footer-container {
    display: grid;
    justify-content: space-around;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 auto;
    gap: 1.5rem;
}

.footer-section h3 {
    color: #555;
    font-size: 20px;
    margin-bottom: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.footer-section p {
    font-size: 15px;
    line-height: 1.8;
    color: #666;
}

.footer-bottom {
    text-align: center;
    margin-top: 40px;
    padding-top: 20px;
    border-top: 1px solid #ddd;
    font-size: 13px;
    color: #888;
}

/*products*/
.product-body {
    background-image: url(images/lilly.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}

.top-perfumes {
    margin-top: 120px;
    max-width: 600px;
    padding: 0 20px;
}

.top-perfumes h1 {
    font-size: 3rem;
    font-family: sans-serif;
    line-height: 1;
    text-transform: uppercase;
}

.top-perfumes p {
    font-size: 20px;
    margin-top: 20px;
    color: #555;
    letter-spacing: 3px;
    line-height: 1.7;
}

.collection-section {
    padding: 50px 20px;
    font-family: 'Arial', sans-serif;
}

.collection-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 5px;
    justify-items: center;
}


.collection-card {
    max-width: 300px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 15px 10px;
    position: relative;
    overflow: hidden;
    text-align: center;
    margin: 15px;
    transition: transform 0.3s;
}

.collection-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.2);
}


.collection-card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.collection-card h3 {
    margin: 40px 0 10px 0;
    font-size: 2opx;
    color: #b30000;
}

.collection-card .mood {
    font-weight: bold;
    color: #555;
    margin-bottom: 10px;
}


.collection-card .description {
    font-size: 14px;
    color: #777;
    margin-bottom: 15px;
}

.collection-card .notes {
    font-size: 13px;
    color: #444;
    line-height: 1.4;
}

/*about section*/
.about-section {
    background-image: url(images/lily2.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

.about-part {
    padding: 60px 20px;
    background-color: transparent;
    font-family: sans-serif;
    margin-top: 40px;
}

.about-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.2);
    padding: 30px;
}

.about-text {
    max-width: 6oopx;
    font-size: 20px;
    line-height: 2;
}

.about-text h2 {
    font-style: italic;
    margin-bottom: 20px;
    color: #444;
    letter-spacing: 2px;
}

.about-text p {
    color: #555;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 15px;
}

.about-text .cta {
    color: #333333;
    font-weight: bold;
    font-size: 18px;
}

.contact {
    padding: 10px;
    align-items: center;
    justify-items: center;
    color: #444;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.contact p {
    color: #444;
}

.contact .ul-about {
    display: flex;
    gap: 20px;
}

.contact li {
    list-style: none;
    color: #444;
}

.contact li a {
    text-decoration: none;
    color: #444;
    font-size: 14px;
}

/*discover*/


.discover-body {
    background-image: url(images/comment-conserver-son-parfum_5ce26d43-a3de-42d9-946d-1f0183d2f478_750x.webp);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

.discover {
    padding: 80px 20px;

}

.discover-heading {
    max-width: 1100px;
}

.discover-heading h1 {
    font-size: 32px;
    margin-bottom: 15px;
    margin-top: 10px;
}

.discover-heading p {
    font-size: 20px;
    color: #555;
    letter-spacing: 2px;
    max-width: 600px;
    line-height: 1.7;
}

.discover-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 25px;
    margin-bottom: 50px;
}

.card {
    background: white;
    padding: 30px 20px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    margin-top: 50px;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-8px);
}

.card h3 {
    font-size: 30px;
    margin-bottom: 10px;
    color: black;
    font-weight: bold;
}

.card p {
    font-size: 18px;
    line-height: 1.7;
    margin-bottom: 10px;
    color: #555;
}

.card a {
    text-decoration: none;
    color: black;
}

.card a:hover {
    color: black;
}


@media (max-width: 768px) {

    .main-content {
        align-items: center;
        text-align: center;
    }

    .nav-links a {
        font-size: 13px;
        margin: 0;
    }

    .main-content h1 {
        line-height: 1.1;
    }

    .about-container {
        padding: 20px;
    }

    .about-text {
        font-size: 16px;
    }
}